# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
visualizer/node_modules
visualizer/.pnp
visualizer/.pnp.js

# testing
visualizer/coverage

# production
visualizer/build
compiler/bin

# misc
.DS_Store
visualizer/.env.local
visualizer/.env.development.local
visualizer/.env.test.local
visualizer/.env.production.local

visualizer/npm-debug.log*
visualizer/yarn-debug.log*
visualizer/yarn-error.log*
