/* Navbar.css */
.topbar {
    position: fixed; /* Фиксируем панель */
    top: 0; /* Прикрепляем к верхней части окна */
    left: 0; /* Прикрепляем к левой части окна */
    width: 100%; /* Ширина на всю ширину экрана */
    background-color: white; /* Цвет фона - белый */
    color: #333; /* Цвет текста - темно-серый для контраста */
    padding: 10px; /* Отступы */
    z-index: 1000; /* Устанавливаем высокий z-index, чтобы панель была поверх других элементов */
    display: flex; /* Используем flexbox для выравнивания элементов */
    justify-content: center; /* Распределяем элементы по всей ширине */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Легкая тень для глубины */
}

.topbar-item {
    cursor: pointer; /* Указатель при наведении */
    transition: color 0.3s; /* Плавный переход цвета */
    padding: 5px 60px; /* Отступы для элементов */
    text-decoration: none;
    margin-inline: 5px;
    color: inherit; /* Устанавливаем цвет текста как у родительского элемента */
}

.topbar-item.active {
    color: #4caf50; /* Цвет текста при наведении - зеленый */
    background-color: #e0f7fa; /* Светло-голубой фон при наведении */
    border-radius: 5px; /* Закругленные углы */
}

.topbar-item:hover {
    color: #4caf50; /* Цвет текста при наведении - зеленый */
    background-color: #e0f7fa; /* Светло-голубой фон при наведении */
    border-radius: 5px; /* Закругленные углы */
}
